body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html {
  font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-item.special {
    background: #0A65CC;
    border-radius: 100px;
    padding: 0 10px;
    transition: all .1s;
    margin-right: 10px;
}
.nav-item.special .nav-link{
    color:#fff;
    transition: all .1s;
}

.nav-item.special:hover{
    background: #171717;
}
.nav-item.special .nav-link:hover{
    color:#fff;
}

.logo img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}