
.collapsible {
    background: #fff;
    color: #000;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    text-transform: capitalize;
    text-align:center;
}

.collapsible.active, .collapsible:hover {
    background-color: #e7f1ff;
    color: #0c63e4;
}

.content {
    padding: 5px 10px;
    text-transform: capitalize;
    display: none;
    overflow: hidden;
    background-color: #fff;
}

#symptomByKategoriUtskrift label {
    font-size:13px;
}

#symptomByKategoriUtskrift label:hover {
    cursor: pointer;
    color: #0c63e4;
    opacity:.8;
}

#symptomByKategoriUtskrift input[type="checkbox"]:checked+label {
    color: #0c63e4;
}

#symptomByKategoriUtskrift img {
    display:block;
    width:100%;
    padding:10px 20px;
}

#etterDiagnose {
    display: none;
}